$primary: orange;
$secondary: teal;
@import "~bootstrap/scss/bootstrap";

.adding-machine {
  color: white;
  text-shadow: 1px 1px black;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('images/cookies.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .error {
    text-shadow: none;
    padding: 10px;
    min-height: 50px;
    min-width: 250px;
    text-align: center;
    outline: 1px solid black;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.hidden {
      visibility: hidden;
    } 
    p {
      margin: 0;
    }
  }
  .controls {
    div {
      margin: 10px 0;
    }
  }
  .form-control {
    display: inline-block;
    width: auto;
  }
}